@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply fixed p-0 m-0 top-0 left-0 h-screen w-screen overflow-auto scroll-smooth;
}

@font-face {
    font-family: 'Mirage';
    src: url('./mirage.otf'); /* Use import.meta syntax for the correct path */
}

.font-mirage {
    font-family: 'Mirage', Arial, Helvetica, sans-serif;
}

.c-bg-pink1{
    background-color: #f3c1e8;
}